/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

nav ul a,
nav .brand-logo {
    color: #444;
}

p {
    line-height: 2rem;
}

.button-collapse {
    color: #26a69a;
}

.parallax-container {
    min-height: 380px;
    line-height: 0;
    height: auto;
    color: rgba(255,255,255,.9);
}
.parallax-container .section {
    width: 100%;
}

@media only screen and (max-width : 992px) {
    .parallax-container .section {
        position: absolute;
        top: 40%;
    }
    #index-banner .section {
        top: 10%;
    }
}

@media only screen and (max-width : 600px) {
    #index-banner .section {
        top: 0;
    }
}


.icon-block {
    padding: 0 15px;
}

footer.page-footer {
    margin: 0;
}

#custom-teal-text-header{
    color: white !important;
}

#custom-s12{
    color: #76ff03;
}

#social-media-icon-list li{
    display: inline;
}

#signup_modal_content, #login_modal_content{
    padding: 0;
    padding-bottom: 24px;
}

#signup-modal-header, #login-modal-header{
    padding: 10px;
    color: white;
    font-size: 1.8em;
}

#screens-slider{
    width: 70%;
    margin: 0 auto;
}

.screens-slider-caption{
    text-shadow: 0 0 10px rgba(255,255,255,1) , 0 0 20px rgba(255,255,255,1) , 0 0 30px rgba(255,255,255,1) , 0 0 40px #fff , 0 0 70px #fff , 0 0 80px #fff , 0 0 100px #fff ;
}

.screens-slider-caption h3, .screens-slider-caption h5{
    color: #222;
}

@media only screen and (max-width : 850px) {
    nav .brand-logo{
        left: 100px;
    }
    #custom-teal-text-header{
        font-size: 3.1em;
        line-height: 1;
    }
    #custom-s12{
        font-size: 1.2em;
        line-height: 1.1;
    }
}

@media only screen and (max-width : 530px) {
    nav .brand-logo img{
        display: none;
    }
    #navbar-right-section a{
        width: 50%;
    }
    #custom-teal-text-header{
        font-size: 2.9em;
        line-height: 1;
    }
    #custom-s12{
        font-size: 1em;
        line-height: 1.1;
    }
}